<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{base}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}"/>
    <link rel="icon" href="img/icon.png" th:href="@{img/icon.png}" />
    <link rel="shortcut icon" href="img/favicon.ico"th:href="@{img/favicon.ico}" />
    <base href="/">
    <title>Mon profil membre - Neighborhood </title>
    <meta name="description" content="Profil Membre - Neighborhood"/>
</head>
<body>
<th:block th:insert="base :: header">...</th:block>
<main layout:fragment="main" role="main" th:remove="tag">
    <section id="MemberProfile">
        <div class="container">

            <!-- 					Menu -->
            <nav>
                <div class="nav nav-tabs anchor" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-users-tab"
                       data-toggle="tab" href="#nav-users"
                       role="tab" aria-controls="nav-users"
                       aria-selected="true">Les Utilisateurs
                    </a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <!-- Les Utilisateurs -->
                <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-profil-tab">
                    <div class="col-md-12" th:if="${usersList!=null and !usersList.isEmpty()}">
                        <br />
                        <h3>Tous les utilisateurs</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">e-Mail</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Rattachement</th>
                                    <th scope="col">Accès</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user:${usersList}">
                                    <th scope="row"><span th:text="${user.id}">id</span></th>
                                    <td><span th:text="${user.email}">e-Mail</span></td>
                                    <td><span th:text="${user.lastName}">Nom</span></td>
                                    <td><span th:text="${user.firstName}">Prénom</span></td>
                                    <td><span th:text="${#dates.format(user.creationDate, 'dd/MM/yyyy')}">Date</span></td>
                                    <td><span th:text="${user.neighborGroup?.name?:'-'}">Rattachement</span></td>
                                    <td>
                                        <div class="text-center">
                                            <span th:text="${user.role}">Accès</span>
                                            <form th:action="@{/member/edit-user}" method="get">
                                                <input type="hidden" name="id" th:value="${user.id}">
                                                <button class="text-center" type="submit">Modifier</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>
</main>
<th:block th:insert="base :: footer">...</th:block>
<th:block th:insert="base :: script">...</th:block>
</body>
</html>