<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{base}">

<head th:insert="base :: head"></head>
<head>
    <title>Achats groupés - Neighborhood </title>
    <meta name="description" content="Les Services : Achats groupés Liste des participants- Neighborhood"/>
</head>
<body>
<th:block th:insert="base :: header">...</th:block>
<main layout:fragment="main" role="main" th:remove="tag">
    <section id="GroupBuyingUserList">
        <div class="container">
            <br />
            <h2>Liste des participants</h2>
            <br />

            <div th:if="${groupBuying==null}">
                Aucun achat groupé
            </div>
            <div th:if="${groupBuyingUserList==null or groupBuyingUserList.isEmpty()}">
                Aucun participants
            </div>

            <!-- Liste des participants -->
            <div class="container" th:if="${groupBuyingUserList!=null or !groupBuyingUserList.isEmpty()}">
                <div class="col-md-12">
                    <br />
                    <h3 th:text="${groupBuying.title}">Objet</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Adresse</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="neighbor:${groupBuyingUserList}">
                                <th scope="row"><span th:text="${groupBuyingUserList.indexOf(neighbor)+1}">#</span></th>
                                <td><span th:text="${neighbor.getLastName()}">Nom</span></td>
                                <td><span th:text="${neighbor.getFirstName()}">Prénom</span></td>
                                <td><span th:text="${neighbor.getAddress()?.getNumber()} + ',' + ${neighbor.getAddress()?.getStreetName()}">Adresse</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>
<th:block th:insert="base :: footer">...</th:block>
<th:block th:insert="base :: script">...</th:block>
</body>
</html>